/* Variable Roman (normal) */
@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 100 900;   /* variable axis range */
    font-stretch: 75% 125%;
    font-style: normal;
  }
  
  /* Variable Italic */
@font-face {
  font-family: 'Noto Serif';
  src: url('NotoSerif-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
}
  
/*This is for the title*/
@font-face {
  font-family: 'Noto Serif Condensed';
  src: url('NotoSerif_Condensed-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/*body css*/
body {
  font-family: 'Noto Serif', serif;
}

/* header css */

h1 {
  font-family: 'Noto Serif Condensed', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
}

/* home page css start*/
#home-title {
  margin-bottom: 0.15rem;
  font-size: 3rem;
}

#home-subtitle {
  margin-top: 0.3rem;
  margin-bottom: 0.25rem;
  font-weight: 400;
  font-size: 1.75rem;
}
#home-center {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}
#home-nav a {
  margin: 0 0.6rem;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  gap: 0.35rem;
  margin-top: 0.25rem;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 300;
}

#home-nav a:hover {
  color: #A5A4AC;
  font-weight: 500;
  text-decoration: underline;
}
/*home page CSS END*/


/*XC rating styling START*/
.topnav a {
  float: left;
  color: #000000;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
}
#topnav a:hover {
  color: #A5A4AC;
  font-weight: 500;
  text-decoration: underline;
}
#topnav a.active {
  background-color: #04AA6D;
  color: white;
}
/*XC rating styling END*/

/*wrappers*/

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  flex: 1 1 300px; /* grow, shrink, min-width */
}

.container {
  width: 90%;   /* not 900px */
  max-width: 1200px;
  margin: auto;
}
